table, td, th {
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center
}

table {
  width: 100%
}

img {
  width: 75px
}

p {
  margin-top: 40px;
  font-size: 12px!important;
}

.statsL {
  border: 0 solid #000;
  border-right: 1px solid #000;
  width: 14.6%
}

.statsR {
  border: 0 solid #000;
  border-left: 1px solid #000;
  width: 27%
}

.sort {
  text-decoration: underline;
  color: blue;
}

.sort:hover {
  cursor: pointer;
}
